@model Ticket

@{
    ViewData["Title"] = "Ticket details";
}

<div class="text-center align-items-center">


    <h1 class="display-4">@ViewData["Title"]</h1>
    <h5 class="card-title">Id: @Model.ID</h5>
    <h5 class="card-title">Base price: @Model.Price</h5>
    <h5 class="card-title">Price after discounts: @Model.ActualPrice</h5>
    <h5 class="card-title">Customer: @Model.Customer.FullName</h5>
    <h5 class="card-title">Movie: @Model.Room.Movie.Title</h5>

    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn btn-sm btn-outline-danger w-25" })

</div>
