@model Cinema

@{
    ViewData["Title"] = "Cinema details";
}

<div class="text-center align-items-center">


    <h1 class="display-4">@ViewData["Title"]</h1>
    <h5 class="card-title">@Model.Name</h5>
    <h5 class="card-title">Cinema Id: @Model.Id</h5>
    <h5 class="card-title">Cinema Revenue: @Model.GetRevenue()</h5>
    <h5 class="card-title">Room count: @Model.Rooms.Count()</h5>

    <ul class="list-group list-group-flush myList">
        @foreach (var room in Model.Rooms)
        {

            <li class="list-group-item bg-transparent">

                <div class="card">

                    <div class="d-flex flex-column card-body">

                        <h5 class="card-title">Room Id: @room.ID</h5>
                        <h5 class="card-title">Number of seats: @room.Seats</h5>
                        <h5 class="card-title">Movie: @room.Movie.Title</h5>
                    </div>
                </div>
            </li>
        }
    </ul>
    @Html.ActionLink("Delete cinema", "Delete", new { id = Model.Id }, new { @class = "btn btn-sm btn-outline-danger w-25" })
</div>
