@model CinemaRoom

@{
    ViewData["Title"] = "Cinema details";
}

<div class="text-center align-items-center">


    <h1 class="display-4">@ViewData["Title"]</h1>
    <h5 class="card-title">Id: @Model.ID</h5>
    <h5 class="card-title">Revenue: @Model.GetRevenue()</h5>
    <h5 class="card-title">Total seats: @Model.Seats</h5>
    <h5 class="card-title">Occupied seats: @Model.Customers.Count</h5>
    <h5 class="card-title">Movie: @Model.Movie.Title</h5>

</div>
